.background {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background: url("../assets/home_landing.jpeg") no-repeat center center/cover;
  color: white;

  // https://stackoverflow.com/questions/9182978/semi-transparent-color-layer-over-background-image
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

.alert {
  position: fixed;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
}
