#home-background {
  height: 100%;
  flex-direction: column;

  .profileImage {
    max-width: 500px;
  }
}

/* Responsive settings */

@media screen and (max-width: 768px) {
  #home-background {
    .profileImage {
      max-width: 400px;
    }
  }
}

@media screen and (max-width: 576px) {
  #home-background {
    .profileImage {
      margin-top: 50px;
      max-width: 250px;
    }
  }
}
